@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';

@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/modern';

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

@theme {
	--font-montserrat: 'Montserrat';
	--h-navbar: calc(var(--spacing) * 24) /* 6rem = 96px */;
	--text-2xs: 0.7rem;
}
